//Font-familys//
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700&display=swap');

html, body
{
color: #191919;
font-family: 'Inter', sans-serif;
font-size: 1rem;
font-weight: 400;
}

//h1 - Big headlines on different sections//
h1
{
padding-bottom: 1rem;
padding-top: 1rem;
font-weight: 600;
line-height: 3.4rem;
font-size: 2.6rem;

    @media (max-width: 1200px)
    {
    text-align: center;
    font-size: 34px;
    }

    @media (max-width: 768px)
    {
    text-align: center;
    font-size: 34px;
    }

}

//Small headlines in differnet sections//
h3
{
    font-size: 1.2rem;
    font-weight: 600;
}

//Orange-headlines on differnet sections//
h4
{
font-size: 1.05rem;
font-weight: 200;
color: #F94D1C;

    @media (max-width: 1200px)
    {
    text-align: center;
    }
}

//Small text on different sections//
p {
    font-weight: 100;
    padding-top: 0.5rem;
    line-height: 2rem;
    font-size: 0.95rem;

    @media (max-width: 998px)
    {
        font-size: 16px;
    }
}

//Buttons
.btn-yellow 
{
    background-color:#F9D783;
    border-color: #F9D783;
    border-style: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;
    color:#191919;

    a {
        font-weight: 400;
        color: #191919;
        text-decoration: none;    
    }



    &:hover
    {
        background-color:#1d1d1d;
        border:#191919;
        color: white;
    
        a 
        {
            color:#DAD9D3;
        }
    }


    &:active
    {
        background-color:#868686;
        border:#191919;
    }

    @media (max-width: 998px)
    {
        font-size: 16px;
        padding: 10px;
    }
}

.btn-transparent
{
    background-color: transparent;
    padding: 0.8rem 2rem;
    border: solid 1px #191919;
    border-radius: 2rem;
    font-weight: 400;

    a {
        color: #191919;
        text-decoration: none;  
    }

    &:hover
    {
        background-color:#1d1d1d;
        border:#191919;
        color: white;
    
        a 
        {
            color:#DAD9D3;
        }
    }


    &:active
    {
        background-color:#868686;
        border:#191919;
    }

    @media (max-width: 998px)
    {
        font-size: 16px;
        width: 120px;

    }
}   

.btn-black
{
    background-color:#191919;
    border-color: #000000;
    color:#FFFFFF;
    border-style: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;

    a {
    color:#FFFFFF;
    text-decoration: none;     
    }

    &:hover
    {
    background-color: #868686;
    border:#191919;

        a 
        {
        color: #FFFFFF;
        }
    }

    &:active
    {
    background-color:#868686;
    border:#191919;
    color:#000000;
        
        a{
            &:active
            {
                color:#000000;
            }
        }
    }

    @media (max-width: 998px)
    {
        font-size: 16px;
    }
}

.btn-play
{
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;

    a
    {
        text-decoration: none;
        color:#191919;

        &:hover
        {
            color: #666666;  
        }
    }
    @media (max-width: 998px)
    {
        font-size: 28px;
    }
}

.arrow
{
    margin-left: 1rem;
    width: 16px;
    height: 16px;
    fill: currentColor;

    @media (max-width: 998px)
    {
        font-size: 28px;
    }

    @media (max-width: 1200px)
    {
        display: none;
    }
} 

.responsive
{
    width: 100%;
    height: auto;
}

// Header
header
{
    background-color: #F0EFE9;

    .container
    {
        display: flex;
        justify-content: space-between;
        gap: 1%;
  
        .menu-bars 
        {
            font-size: 30px;
            background-color: #F0EFE9;
            border: none;
            padding-right: 20px;


            @media (min-width: 995px)
            {
                display: none;
            }
        }

        .menu
        {
            display:none;

            @media (min-width: 995px)
            {
                display:block;
            }

            .top-menu
            {
                display:flex;
                justify-content: space-between;
                border-bottom: 0.1rem solid #DAD9D3;
                padding-bottom: 0.2rem;
                align-items: center;

                .contact-information
                {
                    display: flex;
                    align-items: center;
                    

                    .box-content {
                    
                        padding-right: 2rem;
                        margin-right:2rem;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        font-weight: 300;
                        

                        i {
                            margin-right: 0.4rem;
                            font-size: 1.2rem;
                            color:#666666;
                        }                  
                    } 
                    
                    .box-content-last
                    {
                        margin-right: 2rem;
                        padding-right: 2rem;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        font-weight: 300;
                        border: none;

                        i {
                        
                            margin-right: 0.4rem;
                            font-size: 1.2rem;
                            color:#666666;
                        }

                    }
                    
                }

                .social-media {
                    a {
                        color:#191919;
                        font-size: 1.5rem;
                        padding: 0.5rem;

                        &:hover {
                            color: invert($color: #000000);
                            background-color: #000000;
                            border-radius: 20%;  
                        }

                        &:active
                        {
                            color:#FFFFFF;
                            background-color: #868686;    
                        }

                    }
                }
            }

            .main-meny{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1rem;
                                
                nav {

                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 2.5rem;
                        position: relative;
                    
                        
                        &:hover
                        { 
                        border-bottom: solid 1px #666666;  
                        }

                        &:active
                        {
                            color: #868686;
                            border-bottom: solid 1px #868686; 
                        }
                    }
                    
                }
            }
        }
    }
}

//1. First section / "Showcase"
.section1-main-page
{ 
    background-color: #F0EFE9;

    .container
    {

        display: flex;
        align-items: center;

        @media (max-width: 1200px)
        {
            display: block;
        }

        .content
        {   

            .btn
            {


                @media (max-width: 1200px)
                {
                display: flex;
                justify-content: center;
                text-align: center;
                }
            }

            h1 
            {
            font-size: 76px;
            font-weight: 900;
            padding-bottom: 1rem;
            line-height: 1.2;
            text-align: left;

                @media (max-width: 1200px)
                {
                text-align: center;
                font-size: 64px;
                }

                @media (max-width: 768px)
                {
                text-align: center;
                font-size: 44px;
                }

            }

            p 
            {
            font-size: 16px;
            padding-bottom: 40px;
            margin-right: 5rem;

                @media (max-width: 1200px)
                {
                text-align: center;
                }
            }
        }

        .image-man
        {
            width: 100%;
        }

        img{
            display: none;

            @media (min-width: 1200px)
            {
                display: block;
            }
        }
    }
}

//2. Second section / "Company logotypes"
.section2-company-logotypes
{
    .container
    {
        display: flex;
        padding: 3rem;

        @media (max-width: 1200px)
        {
            display: block;
            justify-content: right;
            padding: 30px;
        }


        .logo
        {
            padding: 3.2rem;

            @media (max-width: 1200px)
            {
                display: block;
                padding: 30px;
            }
        }

    }

}

//3. Third section / "Features"
section
{

display: flex;
justify-content: center;
padding: 2rem;


.wrapper-grid
{
    display: flex;
    border: solid 2px rgba(22, 22, 22, 0.171);

    @media (max-width: 1300px)
    {
        display: block;
        text-align: center;
        align-items: center;
    }

    .headings
    {
        width: 28rem;
        margin-top: 3rem;
        margin-left: 5rem;


        @media (max-width: 1200px)
        {
            margin: 0;
            width: 300px;
            text-align: center; 
        }
     
        .btn-yellow
        {
            width:28rem;
            margin-left: -1rem;

            @media (max-width: 1300px)
            {
                width: 20rem;
                margin-left: -0.5rem;
            }
        }
    }
}

.advices
{  
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;

        @media (max-width: 1300px)
        {
            grid-template-columns: 1fr;
        }

        article
        {
            width: 22rem;
            padding-left: 4rem;
            padding-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            @media (max-width: 1300px)
            {
                padding: 0rem;
                width: 15rem;
            }

                .addition-height
                {
                height: 8px;
                width: 2px;
                background-color:#a8a8a8a1;
                position: relative;
                right: -6.6%;
                top: 0.3rem;
                }

                .addition-width
                {
                height: 2px;
                width: 8px;
                background-color:#a8a8a8a1;
                position: relative;
                right: -5.5%;
                }

            .addition-1
            {
                position:relative;
                right: -0%;
                top: 1rem;
                
                @media (max-width: 1300px)
                {
                    position:relative;
                    right: -43%;
                    top: 1rem;
                }
            }

            .addition-2
            {
                position:relative;
                right: -12%;
                top: 1.8rem;
                @media (max-width: 1300px)
                {
                    position:relative;
                    right: -52%;
                    top: 0.7rem;
                }
                
            }

            .addition-3
            {
                position:relative;
                right: -9%;
                top: 0.2rem; 
                @media (max-width: 1300px)
                {
                    position:relative;
                    right: -56%;
                    top: 1rem;
                } 
            }

            .icon
            {
                margin-bottom: 2rem;
            }
        }
    }
}


//4. Forth section/ "About comapny"
.section4-about-company
{
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .container
    {
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 12rem;
        
    @media (max-width: 998px)
    {
        display: block;
    }
    

    }

  .blue-text-container
   {
    position: relative;
    display: flex;
    }

    .text-container-blue 
    {
        position: absolute;
        color: rgb(0, 0, 0);
        left: -3.5rem;
        top: 24.6rem;
        background-color: #BEEBFF;
        width: 23rem;
        height: 11.3rem;
        padding: 2rem;

        .Samantha
        {
            display: flex;
            align-items: baseline;
            padding-top: 0.2rem;

            .h3
            {
            font-weight: bold;
            font-size: 1.2rem;
            padding-bottom: 1rem;
            }

            .h5
            {
            color: #F94D1C; 
            font-weight: bold;
            padding-left: 0.5rem;
            font-size: 1rem;  
            }

        }
        .p1
        {
        text-align: left;
        color: rgb(0, 0, 0);
        font-weight: lighter;
        font-size: 0.96rem;
        line-height: 1.8rem;
        }
    }

    .text-container2
    {
    width: 32rem;
    line-height: 1.8rem;
    font-weight: 100;
    font-size: 1rem;
    }



        .playicon
        {
        height: 3.2rem;
        margin-right: 0.6rem;

        &:hover{
            background-color: #DAD9D3;
            border-radius: 50%;
            
            }

            &:active{
            background-color: #868686;
            }
        }
}

//5. Fifth section / "Our Services"
.section5-our-services
{
    background-color: #F0EFE9;
    padding: 8rem;
    padding-right: 18rem;
    padding-left: 18rem;

    .part1
    {
        display: flex;
        width:35rem;
        display: block;
        justify-content:start;

        @media (max-width: 998px)
        {
            display: block;
        }
    }

    .container2
    {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.4rem;
    padding-top: 1.2rem;

    @media (max-width: 998px)
    {
        display: block;
    }
                     
        .elements
        {
                color:#191919;
                background-color: #FFFFFF;
                width: 19.2rem;
                height: 20.5rem;   
                padding:1.5rem;

            .line
            {
                    border-color: #191919;
                    color: #191919;
                    border-width: 0.2rem;
                    width: 25%;
                    margin-right: auto;
                    border-radius: 2rem;
                    margin-bottom: 3rem;

            }

                &.yellow
                {
                    background-color: #F9D783;
                }

                .circlearrow
                {
                    display: flex;
                    align-items: end;
                    justify-content: end;
                }

                .btn-round-white
                {
                    border-radius: 50%;
                    height: 3.5rem;
                    width: 3.5rem;      
                    background-color: white;
                    border: none;

                    &:hover
                    {
                        background-color: #868686;
                        color: #191919;
                    }

                    &:active
                    {
                        background-color: #868686;

                    }
                }

                
                .btn-round-black
                {
                    border-radius: 50%;
                    height: 3.5rem;
                    width: 3.5rem;      
                    background-color: black;
                    border: none;

                    &:hover
                    {
                        background-color: #868686;
                        color: #191919;
                    }

                    &:active
                    {
                        background-color: #868686;

                    }
                }

            }
    }
    
    .end
    {
    display:flex;
    justify-content: center;
    }
}

//6. Sixth section / "Why Choose Us"
.section6-why-us
{
    display: flex;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
    padding-left: 18rem;

    .container
    {
        width: 39rem;

        @media (max-width: 998px)
        {
            display: block;
        }
    }

    .elements
    {
        display:flex;
        justify-content: center;
        align-items: center;

        .svg{
            padding-bottom: 2rem;
        }
    }

    .text{
        padding-left: 1.6rem;

        .height
        {
            line-height: 0.3rem;
        }

    }

    .rectangel
    {
        position: relative;
        top: 8rem;
        background-color:#F0EFE9;
        width: 60rem;
        height: 26rem;
    }

    .image{
        position: absolute;
        top: -12rem;
        left: 7rem;
    }
}

// 7. SEVENTH SECTION / "News & articles"
.project-and-case
{
    padding-top: 20px;
    padding-bottom: 20px;

    .container{

        .section-title
        {
            text-align: center;
        }
        
        .project-and-cases
        {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) 
            {grid-template-columns: 1fr 1fr;}

            article
            {
                img
                {
                    width: 100%;
                    height: auto;
                    padding-bottom: 30px;
                    padding-top: 20px;
                }

                h3{
                    border-bottom: 2px solid rgba(0, 0, 0, 0.201);
                    padding-bottom: 10px;
                }

                a
                {
                    margin-right: 10px;
                    text-decoration: none;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color:#191919;
                    padding-top: 15px;

                    .arrow
                    {
                        padding: 0rem;
                        margin-left: 0.5rem;
                    }

                    &:hover{
                        color:#868686;
                        
                    }
        
                    &:active
                    {
                        color: #DAD9D3;
                    }
                }
            }
        }
    }

    .btn-position
    {
        display: flex;
        justify-content: center;
        padding: 4rem;
    }
}

//8. Eight section / "Meet Our Team"
.section8-our-team
{
    background-color: #F9D783;

    .header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 18rem;
        padding-right: 18rem;
        padding-top: 8rem;
        padding-bottom: 5rem;

        
    @media (max-width: 998px)
    {
        display: block;
    }
    
    }

    .yellow
    {
        border: solid 2px black;
    
        .arrow
        {
            padding: 0.02rem;
        }
    }

    .pictures
    {
        display: flex;
        justify-content: center;
        gap: 2rem;

        
    @media (max-width: 998px)
    {
        display: block;
    }
    

        .text-container
        {
            padding-top: 1.8rem;
        
           p {
            margin-top: -0.6rem;
           }
        }
    }

    .page-end
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4rem;
        padding-top: 2.4rem;
    
    }


}

//9. Ninth section / "Testimonial"
.section9-testimonial
{
    background-color: #F9D783;
    padding: 2rem;
    padding-left: 18rem;
    padding-right: 18rem;

    @media (max-width: 998px)
    {
        display: block;
    }

    .white-background
    {
        background-color: #FFFFFF;

        .orange-headlines
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 8rem;
        }

        .big-headlines
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .clients
        {
            display: flex;
            padding-top: 3rem;
            padding-bottom: 4rem;

            @media (max-width: 998px)
            {
                display: block;
            }
        }
    }

    .container
    {
        width: 20rem;
        

        p
        {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .orange-headlines
        {
            display: block;
            padding: 0.05rem;
        }

        .foto-name-title
        {
            display: flex;

            .name-title
            {
                display: block;
                align-items: center;
                justify-content: center;
                margin-top: 0.5rem;
                margin-left:1rem;

                .orange-headlines
                {
                    display: block;
                    margin-top: -0.1rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
    .end-of-section
    {
        display: flex;
        justify-content: center; 
        padding-bottom: 6rem;   
    }
}

//10. Tenth section / "Article & News"
.section10-article
{
    padding-left: 18rem;
    padding-right: 18rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

   .header
   {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 0.7rem;
    padding-bottom: 1.5rem;

    @media (max-width: 998px)
    {
        display: block;
    }

    .big-headlines
    {
        padding: 0;
        padding-top: 1rem;
        margin-bottom: -0.75rem;
    }
}

   .container
   {
    display: flex;
    justify-content: space-evenly;
    gap: 3.1rem;

    @media (max-width: 998px)
    {
        display: block;
    }
   }

   .articels
   {
     width:25rem;
     padding-top: 2rem;

        .image-container
        {
            position: relative;
            text-align: center;
            padding-bottom: 1rem;
        }

        .date
        {
            position:absolute;
            display: block;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding:1rem;
            top: 7%;
            left:4%;
            width: 3.4rem;
            height: 4rem;
            background-color: #F9D783;

            .number
            {
                margin-top: -0.1rem;
            }

            .month
            {
                margin-top: -1.45rem;
                margin-left: -0.08rem;
            }
        }

    }

    .page-end
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }

}

// 11. ELEVENTH SECTION / "Get news updates by signup"
.section11-get-news
{
    display: flex;
    justify-content: center;
    padding: 5rem;
    padding-bottom: 3rem;
    background-color: #F0EFE9;

    .content 
    {
        display: flex;
        align-items: center;
        padding-left: 5rem;

        @media (max-width: 998px)
        {
            display: block;
        }
        
        .buttons
        {
            display: flex;
            justify-content: space-around;
            padding-left: 12rem;
        }

        .input
        {
            border-radius: 2rem;
            border: none;
            padding-left: 1rem;

            &:active
            {
                border: none;
            }
        }
        .email
        {
            padding-left: 1rem;
        }
    }

    .grey-element
    {
        position: relative;
        left: 15.5%;
        top: 30%;
    }
}

// FOOTER
.footer
{
    background-color: #000000;

    @media (max-width: 998px)
    {
        display: block;
    }

    .grey-element
    {
        position:relative;
        left: 84%;
        top: 17.45rem;
    }

    p {
        color: #FFFFFF;
        padding-top: 2rem;
    }

    h3{
        color:#FFFFFF;
        padding-bottom: 1rem;
    }

    a
    {
        text-decoration: none;
        font-weight: 100;
        color:#FFFFFF;
        line-height: 3rem;

        &:hover
        {
            border-bottom: solid 2px white;
        }

        &:active
        {
            color: #DAD9D3;
            border-color: #DAD9D3;
        }
    }

    .border
    {
        color: #DAD9D3;
        margin-bottom: -0.5rem;
    }

    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 998px)
        {
            display: block;
        }

        .the-sections
        {
            display: flex;
            justify-content: space-between;
            gap: 6rem;
        }

        .p-company
        {
            width: 19rem;
        }
    }

    .page-end
    {
        padding-left: 18.5rem;
        padding-right: 18.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-media
        {
            display: flex;
            justify-content: right;
            gap: 1.8rem;

            a 
            {
                &:active
                {
                background-color: #868686;
                }
            }
        }
    }
}
