//Font-familys//
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700&display=swap');

html, body
{
color: #191919;
font-family: 'Inter', sans-serif;
font-size: 1rem;
font-weight: 400;
}


//Big headlines on different sections//
.big-headlines
{
padding-bottom: 1rem;
padding-top: 1rem;
font-weight: 600;
line-height: 3.4rem;
font-size: 2.6rem;
}

//Small headlines in differnet sections//
h3
{
    font-size: 1.2rem;
    font-weight: 600;
}

//Orange text on differnet sections//
.orange-headlines
{
font-size: 1.05rem;
font-weight: 200;
color: #F94D1C;
}

//Small text on different sections//
p {
    font-weight: 100;
    padding-top: 0.5rem;
    line-height: 2rem;
    font-size: 0.95rem;
}

//Buttons
.btn-yellow 
{
    background-color:#F9D783;
    border-color: #F9D783;
    border-style: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;
    color:#191919;

    a {
        font-weight: 400;
        color: #191919;
        margin-left: 0.9rem;
        text-decoration: none;

            .arrow
        {
            margin-left: 1rem;
        }       
    }



    &:hover
    {
        background-color:#1d1d1d;
        border:#191919;
    
        a 
        {
            color:#DAD9D3;
        }
    }


    &:active
    {
        background-color:#868686;
        border:#191919;
    }
}

.btn-transparent
{
    background-color: transparent;
    border-color: #191919;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 400;

    a {
        color: #191919;
        margin-left: 0.2rem;
        text-decoration: none;
        
        .arrow
        {
            margin-left: 1rem;
        }   
    }

    &:hover
    {
        background-color:#1d1d1d;
        border:solid 2px #191919;

        a{
            color:#DAD9D3
        }
    }

    &:active
    {
        background-color:#868686;
        border:solid2px #191919;

        a
        {
            color:#191919
        }
    }

    


}   

.btn-black
{
    background-color:#191919;
    border-color: #000000;
    border-style: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;

    a {
    color:#FFFFFF;
    margin-left: 0.9rem;
    text-decoration: none;
    
        .arrow
        {
        margin-left: 1rem;
        }       
    }

    &:hover
    {
    background-color: #868686;
    border:#191919;

        a 
        {
        color: #FFFFFF;
        }
    }

    &:active
    {
    background-color:#DAD9D3;
    border:#191919;
    }
}

// Header
header
{
    background-color: #F0EFE9;
    padding-top: 1rem;

    .container
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        .menu-bars 
        {
            border: none;
            font-size: 25px;
            background-color: #F0EFE9;

            .fa-solid fa-bars
            {
                color:black;
            }

            @media (min-width: 992px)
            {
                display:none;
            }
        }

        .menu
        {
            display:none;
            flex: 1;

            @media (min-width: 992px)
            {
                display:block;
            }

            .top-menu
            {
                display:flex;
                justify-content: space-between;
                border-bottom: 0.1rem solid #DAD9D3;
                padding-bottom: 0.2rem;
                align-items: center;

                .contact-information
                {
                    display: flex;
                    align-items: center;
                    

                    .box-content {
                    
                        padding-right: 2rem;
                        margin-right:2rem;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        font-weight: 300;
                        

                        i {
                            margin-right: 0.4rem;
                            font-size: 1.2rem;
                            color:#666666;
                        }
                        
                        

                    } 
                    
                    .box-content-last
                    {
                        margin-right: 2rem;
                        padding-right: 2rem;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        font-weight: 300;
                        border: none;

                        i {
                        
                            margin-right: 0.4rem;
                            font-size: 1.2rem;
                            color:#666666;
                        }

                    }
                    
                }

                .social-media {
                    a {
                        color:#191919;
                        font-size: 1.5rem;
                        margin-left: 1rem;

                        &:hover {
                            color: invert($color: #000000);
                            background-color: #000000;
                            padding: 0.4rem;
                            border-radius: 1rem;
                            
                        }

                    }
                }
            }

            .main-meny{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1rem;
                                
                nav {

                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 2.5rem;
                        position: relative;
                    
                        
                        &:hover
                        {
                        position: flex;  
                        background-color: #191919;
                        border:#191919;
                        padding: 0.5rem;
                        border-radius: 2rem;
                        color: #FFFFFF;   
                        }

                        &:active
                        {
                            color: #FFFFFF;
                            background-color: #868686;
                        }


                    }
                    
                }
            }

        }
    }
}

//1. First section / "Main page"
.section1-main-page
{ 
    background-color: #F0EFE9;

    .image1
    {
        position:relative;
        background-color: transparent;
        width: 48rem;
        height: 11.8rem;
        top: 40rem;
    }  
    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: 40rem;

        h1 
        {
        font-size: 5rem;
        font-weight: 800;
        padding-bottom: 1rem;

        }

        p 
        {
            font-weight: 100;
            padding-bottom: 2rem;
            margin-right: 2rem;
        }

        a 
        {
            margin-right: 1rem;
        }

        .image2
        {
            position: relative;
            top: -5.35rem;
        }
    

    }

}

//2. Second section / "Company logotypes"
.section2-company-logotypes
{
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .container
    {
        display: block;
        justify-content: space-around;
        align-items: center;
        
        .logo
        {
            margin-right: 5.6rem;
            margin-left: 1.5rem;
        }

    }

}

//3. Third section / "About company"
.section3-features
{

border-style: solid;
border-color: rgba(22, 22, 22, 0.171);
margin-left: 10rem;
margin-right: 10rem;
padding-right: 2rem;
justify-content: space-between;
display: inline-flex;


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700;800&display=swap');

    .advice
    {   
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    flex: 1;
    padding-bottom: 6rem;
    padding-top: 2rem;

    .top{ 
        padding-top: 3rem;
        width: 25rem;
        display: flexbox;
        justify-content: center;
        align-items: center;
        padding-right: 8rem;


    .business
        {
            display: block;
            justify-content: center;
            padding-top: 3rem;

        }
        .icon
        {
            margin-bottom: 2.5rem;
        }
    }
    .bottom{
        padding-top: 3rem;
        width: 25rem;
        display: flexbox;
        justify-content: center;
        align-items: center;
        padding-right: 8rem;

    .business
        {
            display: block;
            padding-top: 3rem;
        }

        .icon
        {
            margin-bottom: 2.5rem;
        }
    }
}

    .heading
    {
        margin-left: 5rem;
        display: block;
        padding-top: 5rem;
        width: 36rem;
        padding-right: 6rem;



        .button
        {
           color: #191919;
           background-color: #F9D783;
           border-style: none;
           text-align: center;
           border-radius: 2rem;
           padding: 0.8rem 10.8rem;

           a {
            color:#191919;
            text-decoration: none;
           }


           .arrow
           {
            margin-left: 1rem;
            width: 1rem;
            height: 1rem;
           }

           &:hover
           {
                color: #F0EFE9;
                background-color: #191919;
                a {
                    color:#F0EFE9;
                    text-decoration: none;
                   }

           }

           &:active
           {
            background-color: #868686;
           }
        
           
           
        }
    }
}

//4. Forth section/ "Features"
.section4-about-company
{
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .container
    {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    }

  .gfg {

    position: relative;
    display: flex;
    }

/*This CSS code is defining the styles for a container that holds text*/
    .text-container 
    {
        position: absolute;
        color: rgb(0, 0, 0);
        left: -3.5rem;
        top: 24.6rem;
        background-color: #BEEBFF;
        width: 23rem;
        height: 11.3rem;
        padding: 2rem;

        .Samantha
        {
            display: flex;
            align-items: baseline;
            padding-top: 0.2rem;

            .h3
            {
            font-weight: bold;
            font-size: 1.2rem;
            padding-bottom: 1rem;
            }

            .h5
            {
            color: #F94D1C; 
            font-weight: bold;
            padding-left: 0.5rem;
            font-size: 1rem;  
            }

        }
        .p1
        {
        text-align: left;
        color: rgb(0, 0, 0);
        font-weight: lighter;
        font-size: 0.96rem;
        line-height: 1.8rem;
        }
    }

    .text-container2
    {
    width: 32rem;
    line-height: 1.8rem;
    font-weight: 100;
    font-size: 1rem;
    }

    .btn-black {
    border: none;
    color: white;
    padding: 0.8rem 2.2rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4rem 2px;
    background-color: #191919;
    border-radius: 2rem;

    &:hover{
        background-color: #868686;
    }

    &:active{
        background-color: #DAD9D3;
    }

    }

    .btn-transparent
    {
    color: black;
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    margin-left: 2rem;
    border-radius: 2rem;
    border: none;

    .playicon
    {
        height: 3.2rem;
        margin-right: 0.6rem;
    }


        &:hover{
            background-color: #DAD9D3;
        }

        &:active{
            background-color: #868686;
        }

    }

  .bi bi-play-circle
        {
        font-weight: 100;
        

        }
}

//5. Fifth section / "Our Services"
.section5-our-services
{
    background-color: #F0EFE9;
    padding: 8rem;
    padding-right: 18rem;
    padding-left: 18rem;

    .part1
    {
        display: flex;
        width:35rem;
        display: block;
        justify-content:start;
    }

    .container2
    {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.4rem;
    padding-top: 1.2rem;
                     
        .elements
        {
                color:#191919;
                background-color: #FFFFFF;
                width: 19.2rem;
                height: 20.5rem;   
                padding:1.5rem;

            .line
            {
                    border-color: #191919;
                    color: #191919;
                    border-width: 0.2rem;
                    width: 25%;
                    margin-right: auto;
                    border-radius: 2rem;
                    margin-bottom: 3rem;

            }

                &.yellow
                {
                    background-color: #F9D783;
                }

                .circlearrow
                {
                    display: flex;
                    align-items: end;
                    justify-content: end;
                }

                .btn-round-white
                {
                    border-radius: 50%;
                    height: 3.5rem;
                    width: 3.5rem;      
                    background-color: white;
                    border: none;

                    &:hover
                    {
                        background-color: #868686;
                        color: #191919;
                    }

                    &:active
                    {
                        background-color: #868686;

                    }
                }

                
                .btn-round-black
                {
                    border-radius: 50%;
                    height: 3.5rem;
                    width: 3.5rem;      
                    background-color: black;
                    border: none;

                    &:hover
                    {
                        background-color: #868686;
                        color: #191919;
                    }

                    &:active
                    {
                        background-color: #868686;

                    }
                }

            }
    }
    
    .end
    {
    display:flex;
    justify-content: center;
    }
}

//6. Sixth section / "Why Choose Us"
.section6-why-us
{
    display: flex;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
    padding-left: 18rem;

    .container
    {
        width: 39rem;
    }

    .elements
    {
        display:flex;
        justify-content: center;
        align-items: center;

        .svg{
            padding-bottom: 2rem;
        }
    }

    .text{
        padding-left: 1.6rem;

        .height
        {
            line-height: 0.3rem;
        }

    }

    .rectangel
    {
        position: relative;
        left: 0rem;
        top: 8rem;
        background-color:#F0EFE9;
        width: 60rem;
        height: 26rem;
    }

    .image{
        position: absolute;
        top: -12rem;
        left: 7rem;
    }
}

//7. Seventh section / "Project & Case studies"
.section7-project
{
    .headline
    {
        display: flex;
        justify-content: center;
    }

    .pictures
    {
        display: flex;
        justify-content:center;
        gap: 1.8rem;

        .line
        {
            border-color: #19191963;
            border-width: 2px;
            color: #FFFFFF;
        }

        .text
        {
            padding-top: 2.6rem;
        }

        .btn-readmore
        {
            display: flex;
            justify-content: right;
            align-items: last;
            padding: 1rem; 

            .readmore-text
            {
            color: #191919;
            text-decoration: none;
            }
        }
    }

    .btn-position
    {

        display: flex;
        justify-content: center;
        padding-bottom: 5rem;
        padding-top: 4rem;

        .btn-black
        {
        background-color:#191919;
        border-color: #000000;
        border-style: none;
        padding: 0.8rem 2rem;
        border-radius: 2rem;
        font-weight: 400;
        margin-right: 1rem;
        text-decoration: none;

        a {
        font-weight: 400;
        color:#FFFFFF;
        margin-left: 0.9rem;
        text-decoration: none;
        
            .arrow
            {
            margin-left: 1rem;
            }       
        }

        &:hover
        {
        background-color: #868686;
        border:#191919;
    
            a 
            {
            color: #FFFFFF;
            }
        }

        &:active
        {
        background-color:#DAD9D3;
        border:#191919;
        }
    }
}



}

//8. Eight section / "Meet Our Team"
.section8-our-team
{
    background-color: #F9D783;

    .header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 18rem;
        padding-right: 18rem;
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    .yellow
    {
        border: solid 2px black;
    
        .arrow
        {
            padding: 0.02rem;
        }
    }

    .pictures
    {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .text-container
        {
            padding-top: 1.8rem;
        
           p {
            margin-top: -0.6rem;
           }
        }
    }

    .page-end
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4rem;
        padding-top: 2.4rem;
    
    }


}

//9. Ninth section / "Testimonial"
.section9-testimonial
{
    background-color: #F9D783;
    padding: 2rem;
    padding-left: 18rem;
    padding-right: 18rem;

    .white-background
    {
        background-color: #FFFFFF;
        
        .orange-headlines
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 8rem;
        }

        .big-headlines
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .clients
        {
            display: flex;
            padding-top: 3rem;
            padding-bottom: 4rem;
        }
    }

    .container
    {
        width: 20rem;

        p
        {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .orange-headlines
        {
            display: block;
            padding: 0.05rem;
        }

        .foto-name-title
        {
            display: flex;

            .name-title
            {
                display: block;
                align-items: center;
                justify-content: center;
                margin-top: 0.5rem;
                margin-left:1rem;

                .orange-headlines
                {
                    display: block;
                    margin-top: -0.1rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
    .end-of-section
    {
        display: flex;
        justify-content: center; 
        padding-bottom: 6rem;   
    }
}

//10. Tenth section / "Article & News"
.section10-article
{
    padding-left: 18rem;
    padding-right: 18rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

   .header
   {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 0.7rem;
    padding-bottom: 1.5rem;

    .big-headlines
    {
        padding: 0;
        padding-top: 1rem;
        margin-bottom: -0.75rem;
    }
}

   .container
   {
    display: flex;
    justify-content: space-evenly;
    gap: 3.1rem;
   }

   .articels
   {
     width:25rem;
     padding-top: 2rem;

        .image-container
        {
            position: relative;
            text-align: center;
            padding-bottom: 1rem;
        }

        .date
        {
            position:absolute;
            display: block;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding:1rem;
            top: 7%;
            left:4%;
            width: 3.4rem;
            height: 4rem;
            background-color: #F9D783;

            .number
            {
                margin-top: -0.1rem;
            }

            .month
            {
                margin-top: -1.45rem;
                margin-left: -0.08rem;
            }
        }

    }

    .page-end
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }

}

// 11. ELEVENTH SECTION / "Get news updates by signup"
.section11-get-news
{
    display: flex;
    justify-content: center;
    padding: 5rem;
    padding-bottom: 3rem;
    background-color: #F0EFE9;

    .content 
    {
        display: flex;
        align-items: center;
        padding-left: 5rem;
        
        .buttons
        {
            display: flex;
            justify-content: space-around;
            padding-left: 12rem;
        }

        .input
        {
            border-radius: 2rem;
            border: none;
            padding-left: 1rem;

            &:active
            {
                border: none;
            }
        }
        .email
        {
            padding-left: 1rem;
        }
    }

    .grey-element
    {
        position: relative;
        left: 16%;
        top: 30%;
    }
}

// FOOTER
.footer
{
    
    padding-top: 6rem;
    background-color: #000000;

    .grey-element
    {
        position:relative;
        left: 84%;
        top: 17.45rem;
    }

    p {
        color: #FFFFFF;
        padding-top: 2rem;
    }

    h3{
        color:#FFFFFF;
        padding-bottom: 1rem;
    }

    a
    {
        text-decoration: none;
        font-weight: 100;
        color:#FFFFFF;
        line-height: 3rem;

        &:hover
        {
            border-bottom: solid 2px white;
        }

        &:active
        {
            color: #DAD9D3;
            border-color: #DAD9D3;
            zoom: 120%;
        }
    }

    .border
    {
        color: #DAD9D3;
        margin-bottom: -0.5rem;
    }

    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .the-sections
        {
            display: flex;
            justify-content: space-between;
            gap: 6rem;
        }

        .p-company
        {
            width: 19rem;
        }
    }

    .page-end
    {
        padding-left: 18.5rem;
        padding-right: 18.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-media
        {
            display: flex;
            justify-content: right;
            gap: 1.8rem;

            a 
            {
                &:active
                {
                background-color: #868686;
                zoom: 120%;
                }
            }
        }
    }

}