@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: 600;
  line-height: 3.4rem;
  font-size: 2.6rem;
}
@media (max-width: 1200px) {
  h1 {
    text-align: center;
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 34px;
  }
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.05rem;
  font-weight: 200;
  color: #F94D1C;
}
@media (max-width: 1200px) {
  h4 {
    text-align: center;
  }
}

p {
  font-weight: 100;
  padding-top: 0.5rem;
  line-height: 2rem;
  font-size: 0.95rem;
}
@media (max-width: 998px) {
  p {
    font-size: 16px;
  }
}

.btn-yellow {
  background-color: #F9D783;
  border-color: #F9D783;
  border-style: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  font-weight: 400;
  margin-right: 1rem;
  text-decoration: none;
  color: #191919;
}
.btn-yellow a {
  font-weight: 400;
  color: #191919;
  text-decoration: none;
}
.btn-yellow:hover {
  background-color: #1d1d1d;
  border: #191919;
  color: white;
}
.btn-yellow:hover a {
  color: #DAD9D3;
}
.btn-yellow:active {
  background-color: #868686;
  border: #191919;
}
@media (max-width: 998px) {
  .btn-yellow {
    font-size: 16px;
    padding: 10px;
  }
}

.btn-transparent {
  background-color: transparent;
  padding: 0.8rem 2rem;
  border: solid 1px #191919;
  border-radius: 2rem;
  font-weight: 400;
}
.btn-transparent a {
  color: #191919;
  text-decoration: none;
}
.btn-transparent:hover {
  background-color: #1d1d1d;
  border: #191919;
  color: white;
}
.btn-transparent:hover a {
  color: #DAD9D3;
}
.btn-transparent:active {
  background-color: #868686;
  border: #191919;
}
@media (max-width: 998px) {
  .btn-transparent {
    font-size: 16px;
    width: 120px;
  }
}

.btn-black {
  background-color: #191919;
  border-color: #000000;
  color: #FFFFFF;
  border-style: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  font-weight: 400;
  margin-right: 1rem;
  text-decoration: none;
}
.btn-black a {
  color: #FFFFFF;
  text-decoration: none;
}
.btn-black:hover {
  background-color: #868686;
  border: #191919;
}
.btn-black:hover a {
  color: #FFFFFF;
}
.btn-black:active {
  background-color: #868686;
  border: #191919;
  color: #000000;
}
.btn-black:active a:active {
  color: #000000;
}
@media (max-width: 998px) {
  .btn-black {
    font-size: 16px;
  }
}

.btn-play {
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
}
.btn-play a {
  text-decoration: none;
  color: #191919;
}
.btn-play a:hover {
  color: #666666;
}
@media (max-width: 998px) {
  .btn-play {
    font-size: 28px;
  }
}

.arrow {
  margin-left: 1rem;
  width: 16px;
  height: 16px;
  fill: currentColor;
}
@media (max-width: 998px) {
  .arrow {
    font-size: 28px;
  }
}
@media (max-width: 1200px) {
  .arrow {
    display: none;
  }
}

.responsive {
  width: 100%;
  height: auto;
}

header {
  background-color: #F0EFE9;
}
header .container {
  display: flex;
  justify-content: space-between;
  gap: 1%;
}
header .container .menu-bars {
  font-size: 30px;
  background-color: #F0EFE9;
  border: none;
  padding-right: 20px;
}
@media (min-width: 995px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
}
@media (min-width: 995px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #DAD9D3;
  padding-bottom: 0.2rem;
  align-items: center;
}
header .container .menu .top-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .menu .top-menu .contact-information .box-content {
  padding-right: 2rem;
  margin-right: 2rem;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .box-content i {
  margin-right: 0.4rem;
  font-size: 1.2rem;
  color: #666666;
}
header .container .menu .top-menu .contact-information .box-content-last {
  margin-right: 2rem;
  padding-right: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  border: none;
}
header .container .menu .top-menu .contact-information .box-content-last i {
  margin-right: 0.4rem;
  font-size: 1.2rem;
  color: #666666;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.5rem;
  padding: 0.5rem;
}
header .container .menu .top-menu .social-media a:hover {
  color: white;
  background-color: #000000;
  border-radius: 20%;
}
header .container .menu .top-menu .social-media a:active {
  color: #FFFFFF;
  background-color: #868686;
}
header .container .menu .main-meny {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
header .container .menu .main-meny nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 2.5rem;
  position: relative;
}
header .container .menu .main-meny nav a:hover {
  border-bottom: solid 1px #666666;
}
header .container .menu .main-meny nav a:active {
  color: #868686;
  border-bottom: solid 1px #868686;
}

.section1-main-page {
  background-color: #F0EFE9;
}
.section1-main-page .container {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .section1-main-page .container {
    display: block;
  }
}
@media (max-width: 1200px) {
  .section1-main-page .container .content .btn {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.section1-main-page .container .content h1 {
  font-size: 76px;
  font-weight: 900;
  padding-bottom: 1rem;
  line-height: 1.2;
  text-align: left;
}
@media (max-width: 1200px) {
  .section1-main-page .container .content h1 {
    text-align: center;
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  .section1-main-page .container .content h1 {
    text-align: center;
    font-size: 44px;
  }
}
.section1-main-page .container .content p {
  font-size: 16px;
  padding-bottom: 40px;
  margin-right: 5rem;
}
@media (max-width: 1200px) {
  .section1-main-page .container .content p {
    text-align: center;
  }
}
.section1-main-page .container .image-man {
  width: 100%;
}
.section1-main-page .container img {
  display: none;
}
@media (min-width: 1200px) {
  .section1-main-page .container img {
    display: block;
  }
}

.section2-company-logotypes .container {
  display: flex;
  padding: 3rem;
}
@media (max-width: 1200px) {
  .section2-company-logotypes .container {
    display: block;
    justify-content: right;
    padding: 30px;
  }
}
.section2-company-logotypes .container .logo {
  padding: 3.2rem;
}
@media (max-width: 1200px) {
  .section2-company-logotypes .container .logo {
    display: block;
    padding: 30px;
  }
}

section {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
section .wrapper-grid {
  display: flex;
  border: solid 2px rgba(22, 22, 22, 0.171);
}
@media (max-width: 1300px) {
  section .wrapper-grid {
    display: block;
    text-align: center;
    align-items: center;
  }
}
section .wrapper-grid .headings {
  width: 28rem;
  margin-top: 3rem;
  margin-left: 5rem;
}
@media (max-width: 1200px) {
  section .wrapper-grid .headings {
    margin: 0;
    width: 300px;
    text-align: center;
  }
}
section .wrapper-grid .headings .btn-yellow {
  width: 28rem;
  margin-left: -1rem;
}
@media (max-width: 1300px) {
  section .wrapper-grid .headings .btn-yellow {
    width: 20rem;
    margin-left: -0.5rem;
  }
}
section .advices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}
@media (max-width: 1300px) {
  section .advices {
    grid-template-columns: 1fr;
  }
}
section .advices article {
  width: 22rem;
  padding-left: 4rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 1300px) {
  section .advices article {
    padding: 0rem;
    width: 15rem;
  }
}
section .advices article .addition-height {
  height: 8px;
  width: 2px;
  background-color: rgba(168, 168, 168, 0.631372549);
  position: relative;
  right: -6.6%;
  top: 0.3rem;
}
section .advices article .addition-width {
  height: 2px;
  width: 8px;
  background-color: rgba(168, 168, 168, 0.631372549);
  position: relative;
  right: -5.5%;
}
section .advices article .addition-1 {
  position: relative;
  right: 0%;
  top: 1rem;
}
@media (max-width: 1300px) {
  section .advices article .addition-1 {
    position: relative;
    right: -43%;
    top: 1rem;
  }
}
section .advices article .addition-2 {
  position: relative;
  right: -12%;
  top: 1.8rem;
}
@media (max-width: 1300px) {
  section .advices article .addition-2 {
    position: relative;
    right: -52%;
    top: 0.7rem;
  }
}
section .advices article .addition-3 {
  position: relative;
  right: -9%;
  top: 0.2rem;
}
@media (max-width: 1300px) {
  section .advices article .addition-3 {
    position: relative;
    right: -56%;
    top: 1rem;
  }
}
section .advices article .icon {
  margin-bottom: 2rem;
}

.section4-about-company {
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4-about-company .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}
@media (max-width: 998px) {
  .section4-about-company .container {
    display: block;
  }
}
.section4-about-company .blue-text-container {
  position: relative;
  display: flex;
}
.section4-about-company .text-container-blue {
  position: absolute;
  color: rgb(0, 0, 0);
  left: -3.5rem;
  top: 24.6rem;
  background-color: #BEEBFF;
  width: 23rem;
  height: 11.3rem;
  padding: 2rem;
}
.section4-about-company .text-container-blue .Samantha {
  display: flex;
  align-items: baseline;
  padding-top: 0.2rem;
}
.section4-about-company .text-container-blue .Samantha .h3 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.section4-about-company .text-container-blue .Samantha .h5 {
  color: #F94D1C;
  font-weight: bold;
  padding-left: 0.5rem;
  font-size: 1rem;
}
.section4-about-company .text-container-blue .p1 {
  text-align: left;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 0.96rem;
  line-height: 1.8rem;
}
.section4-about-company .text-container2 {
  width: 32rem;
  line-height: 1.8rem;
  font-weight: 100;
  font-size: 1rem;
}
.section4-about-company .playicon {
  height: 3.2rem;
  margin-right: 0.6rem;
}
.section4-about-company .playicon:hover {
  background-color: #DAD9D3;
  border-radius: 50%;
}
.section4-about-company .playicon:active {
  background-color: #868686;
}

.section5-our-services {
  background-color: #F0EFE9;
  padding: 8rem;
  padding-right: 18rem;
  padding-left: 18rem;
}
.section5-our-services .part1 {
  display: flex;
  width: 35rem;
  display: block;
  justify-content: start;
}
@media (max-width: 998px) {
  .section5-our-services .part1 {
    display: block;
  }
}
.section5-our-services .container2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.4rem;
  padding-top: 1.2rem;
}
@media (max-width: 998px) {
  .section5-our-services .container2 {
    display: block;
  }
}
.section5-our-services .container2 .elements {
  color: #191919;
  background-color: #FFFFFF;
  width: 19.2rem;
  height: 20.5rem;
  padding: 1.5rem;
}
.section5-our-services .container2 .elements .line {
  border-color: #191919;
  color: #191919;
  border-width: 0.2rem;
  width: 25%;
  margin-right: auto;
  border-radius: 2rem;
  margin-bottom: 3rem;
}
.section5-our-services .container2 .elements.yellow {
  background-color: #F9D783;
}
.section5-our-services .container2 .elements .circlearrow {
  display: flex;
  align-items: end;
  justify-content: end;
}
.section5-our-services .container2 .elements .btn-round-white {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  background-color: white;
  border: none;
}
.section5-our-services .container2 .elements .btn-round-white:hover {
  background-color: #868686;
  color: #191919;
}
.section5-our-services .container2 .elements .btn-round-white:active {
  background-color: #868686;
}
.section5-our-services .container2 .elements .btn-round-black {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  background-color: black;
  border: none;
}
.section5-our-services .container2 .elements .btn-round-black:hover {
  background-color: #868686;
  color: #191919;
}
.section5-our-services .container2 .elements .btn-round-black:active {
  background-color: #868686;
}
.section5-our-services .end {
  display: flex;
  justify-content: center;
}

.section6-why-us {
  display: flex;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 10rem;
  padding-left: 18rem;
}
.section6-why-us .container {
  width: 39rem;
}
@media (max-width: 998px) {
  .section6-why-us .container {
    display: block;
  }
}
.section6-why-us .elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section6-why-us .elements .svg {
  padding-bottom: 2rem;
}
.section6-why-us .text {
  padding-left: 1.6rem;
}
.section6-why-us .text .height {
  line-height: 0.3rem;
}
.section6-why-us .rectangel {
  position: relative;
  top: 8rem;
  background-color: #F0EFE9;
  width: 60rem;
  height: 26rem;
}
.section6-why-us .image {
  position: absolute;
  top: -12rem;
  left: 7rem;
}

.project-and-case {
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases article img {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 20px;
}
.project-and-case .container .project-and-cases article h3 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.201);
  padding-bottom: 10px;
}
.project-and-case .container .project-and-cases article a {
  margin-right: 10px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  padding-top: 15px;
}
.project-and-case .container .project-and-cases article a .arrow {
  padding: 0rem;
  margin-left: 0.5rem;
}
.project-and-case .container .project-and-cases article a:hover {
  color: #868686;
}
.project-and-case .container .project-and-cases article a:active {
  color: #DAD9D3;
}
.project-and-case .btn-position {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.section8-our-team {
  background-color: #F9D783;
}
.section8-our-team .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18rem;
  padding-right: 18rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
}
@media (max-width: 998px) {
  .section8-our-team .header {
    display: block;
  }
}
.section8-our-team .yellow {
  border: solid 2px black;
}
.section8-our-team .yellow .arrow {
  padding: 0.02rem;
}
.section8-our-team .pictures {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 998px) {
  .section8-our-team .pictures {
    display: block;
  }
}
.section8-our-team .pictures .text-container {
  padding-top: 1.8rem;
}
.section8-our-team .pictures .text-container p {
  margin-top: -0.6rem;
}
.section8-our-team .page-end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 2.4rem;
}

.section9-testimonial {
  background-color: #F9D783;
  padding: 2rem;
  padding-left: 18rem;
  padding-right: 18rem;
}
@media (max-width: 998px) {
  .section9-testimonial {
    display: block;
  }
}
.section9-testimonial .white-background {
  background-color: #FFFFFF;
}
.section9-testimonial .white-background .orange-headlines {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}
.section9-testimonial .white-background .big-headlines {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section9-testimonial .white-background .clients {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
@media (max-width: 998px) {
  .section9-testimonial .white-background .clients {
    display: block;
  }
}
.section9-testimonial .container {
  width: 20rem;
}
.section9-testimonial .container p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section9-testimonial .container .orange-headlines {
  display: block;
  padding: 0.05rem;
}
.section9-testimonial .container .foto-name-title {
  display: flex;
}
.section9-testimonial .container .foto-name-title .name-title {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.section9-testimonial .container .foto-name-title .name-title .orange-headlines {
  display: block;
  margin-top: -0.1rem;
  font-size: 0.9rem;
}
.section9-testimonial .end-of-section {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}

.section10-article {
  padding-left: 18rem;
  padding-right: 18rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.section10-article .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-left: 0.7rem;
  padding-bottom: 1.5rem;
}
@media (max-width: 998px) {
  .section10-article .header {
    display: block;
  }
}
.section10-article .header .big-headlines {
  padding: 0;
  padding-top: 1rem;
  margin-bottom: -0.75rem;
}
.section10-article .container {
  display: flex;
  justify-content: space-evenly;
  gap: 3.1rem;
}
@media (max-width: 998px) {
  .section10-article .container {
    display: block;
  }
}
.section10-article .articels {
  width: 25rem;
  padding-top: 2rem;
}
.section10-article .articels .image-container {
  position: relative;
  text-align: center;
  padding-bottom: 1rem;
}
.section10-article .articels .date {
  position: absolute;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  top: 7%;
  left: 4%;
  width: 3.4rem;
  height: 4rem;
  background-color: #F9D783;
}
.section10-article .articels .date .number {
  margin-top: -0.1rem;
}
.section10-article .articels .date .month {
  margin-top: -1.45rem;
  margin-left: -0.08rem;
}
.section10-article .page-end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.section11-get-news {
  display: flex;
  justify-content: center;
  padding: 5rem;
  padding-bottom: 3rem;
  background-color: #F0EFE9;
}
.section11-get-news .content {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}
@media (max-width: 998px) {
  .section11-get-news .content {
    display: block;
  }
}
.section11-get-news .content .buttons {
  display: flex;
  justify-content: space-around;
  padding-left: 12rem;
}
.section11-get-news .content .input {
  border-radius: 2rem;
  border: none;
  padding-left: 1rem;
}
.section11-get-news .content .input:active {
  border: none;
}
.section11-get-news .content .email {
  padding-left: 1rem;
}
.section11-get-news .grey-element {
  position: relative;
  left: 15.5%;
  top: 30%;
}

.footer {
  background-color: #000000;
}
@media (max-width: 998px) {
  .footer {
    display: block;
  }
}
.footer .grey-element {
  position: relative;
  left: 84%;
  top: 17.45rem;
}
.footer p {
  color: #FFFFFF;
  padding-top: 2rem;
}
.footer h3 {
  color: #FFFFFF;
  padding-bottom: 1rem;
}
.footer a {
  text-decoration: none;
  font-weight: 100;
  color: #FFFFFF;
  line-height: 3rem;
}
.footer a:hover {
  border-bottom: solid 2px white;
}
.footer a:active {
  color: #DAD9D3;
  border-color: #DAD9D3;
}
.footer .border {
  color: #DAD9D3;
  margin-bottom: -0.5rem;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 998px) {
  .footer .container {
    display: block;
  }
}
.footer .container .the-sections {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.footer .container .p-company {
  width: 19rem;
}
.footer .page-end {
  padding-left: 18.5rem;
  padding-right: 18.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .page-end .social-media {
  display: flex;
  justify-content: right;
  gap: 1.8rem;
}
.footer .page-end .social-media a:active {
  background-color: #868686;
}