//Font-familys//
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700&display=swap');

html, body
{
color: #191919;
font-family: 'Inter', sans-serif;
font-size: 1rem;
font-weight: 400;
}

//h1 - Big headlines on different sections//
h1
{
font-weight: 600;
line-height: 3.4rem;
font-size: 2.6rem;


    @media (max-width: 768px)
    {
    text-align: center;
    font-size: 34px;
    }

}

//Small headlines in differnet sections//
h3
{
    font-size: 1.2rem;
    font-weight: 600;
}

//Orange-headlines on differnet sections//
h4
{
font-size: 1.05rem;
font-weight: 200;
color: #F94D1C;

    @media (max-width: 768px)
    {
    text-align: center;
    }
}

//Small text on different sections//
p {
    font-weight: 100;
    padding-top: 0.5rem;
    line-height: 2rem;
    font-size: 0.95rem;

    @media (max-width: 998px)
    {
        font-size: 16px;
    }
}

//Buttons
.btn-yellow 
{
    background-color:#F9D783;
    border-color: #F9D783;
    border-style: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;
    color:#191919;

    a {
        font-weight: 400;
        color: #191919;
        text-decoration: none;    
    }



    &:hover
    {
        background-color:#1d1d1d;
        border:#191919;
        color: white;
    
        a 
        {
            color:#DAD9D3;
        }
    }


    &:active
    {
        background-color:#868686;
        border:#191919;
    }

    @media (max-width: 998px)
    {
        font-size: 16px;
        padding: 10px;
    }
}

.btn-transparent
{
    background-color: transparent;
    padding: 0.8rem 2rem;
    border: solid 1px #191919;
    border-radius: 2rem;
    font-weight: 400;

    a {
        color: #191919;
        text-decoration: none;  
    }

    &:hover
    {
        background-color:#1d1d1d;
        border:#191919;
        color: white;
    
        a 
        {
            color:#DAD9D3;
        }
    }


    &:active
    {
        background-color:#868686;
        border:#191919;
    }

    @media (max-width: 998px)
    {
        font-size: 16px;
        width: 120px;

    }
}   

.btn-black
{
    background-color:#191919;
    border-color: #000000;
    color:#FFFFFF;
    border-style: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;

    a {
    color:#FFFFFF;
    text-decoration: none;     
    }

    &:hover
    {
    background-color: #868686;
    border:#191919;

        a 
        {
        color: #FFFFFF;
        }
    }

    &:active
    {
    background-color:#868686;
    border:#191919;
    color:#000000;
        
        a{
            &:active
            {
                color:#000000;
            }
        }
    }

    @media (max-width: 998px)
    {
        font-size: 16px;
    }
}

.btn-play
{
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;

    a
    {
        text-decoration: none;
        color:#191919;

        &:hover
        {
            color: #666666;  
        }
        .playicon
        {
            width: 50px;
            height: auto;
        }
    }
    @media (max-width: 998px)
    {
        font-size: 16px;
    }
}

.arrow
{
    margin-left: 1rem;
    width: 16px;
    height: 16px;
    fill: currentColor;

    @media (max-width: 998px)
    {
        font-size: 28px;
    }

    @media (max-width: 1200px)
    {
        display: none;
    }
} 

.responsive
{
    width: 100%;
    height: auto;
}

// Header
header
{
    background-color: #F0EFE9;

    .container
    {
        display: flex;
        gap: 1%;
  
        .menu-bars 
        {
            font-size: 30px;
            background-color: #F0EFE9;
            border: none;
            padding-right: 20px;


            @media (min-width: 995px)
            {
                display: none;
            }
        }

        .menu
        {
            display:none;

            @media (min-width: 995px)
            {
                display:block;
            }

            .top-menu
            {
                display:flex;
                justify-content: space-between;
                border-bottom: 0.1rem solid #DAD9D3;
                padding-bottom: 0.2rem;
                align-items: center;
                

                .contact-information
                {
                    display: flex;
                    align-items: center;
                    
                    .box-content {
                    
                        padding-right: 2rem;
                        margin-right:2rem;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        font-weight: 300;
                        

                        i {
                            margin-right: 0.4rem;
                            font-size: 1.2rem;
                            color:#666666;
                        }                  
                    } 
                    
                    .box-content-last
                    {
                        margin-right: 2rem;
                        padding-right: 2rem;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        font-weight: 300;
                        border: none;
                        

                        i {
                        
                            margin-right: 0.4rem;
                            font-size: 1.2rem;
                            color:#666666;
                        }

                    }
                    
                }

                .social-media {
                    a {
                        color:#191919;
                        font-size: 1.5rem;
                        padding: 0.5rem;
                        

                        &:hover {
                            color: invert($color: #000000);
                            background-color: #000000;
                            border-radius: 20%;  
                        }

                        &:active
                        {
                            color:#FFFFFF;
                            background-color: #868686;    
                        }

                    }
                }
            }

            .main-meny{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 1rem;
                                
                nav {

                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 2.5rem;
                        position: relative;
                    
                        
                        &:hover
                        { 
                        border-bottom: solid 1px #666666;  
                        }

                        &:active
                        {
                            color: #868686;
                            border-bottom: solid 1px #868686; 
                        }
                    }
                    
                }
            }
        }
    }
}

//1. First section / "Showcase"
.section1-main-page
{ 
    background-color: #F0EFE9;
    padding-top: 2rem;

    .container
    {

        display: flex;
        align-items: center;

        @media (max-width: 1200px)
        {
            display: block;
        }

        .content
        {   

            .btn
            {
                @media (max-width: 1200px)
                {
                display: flex;
                justify-content: center;
                text-align: center;
                }
            }

            h1 
            {
            font-size: 76px;
            font-weight: 900;
            padding-bottom: 1rem;
            line-height: 1.2;
            text-align: left;

                @media (max-width: 1200px)
                {
                text-align: center;
                font-size: 64px;
                }

                @media (max-width: 768px)
                {
                text-align: center;
                font-size: 44px;
                }

            }

            p 
            {
            font-size: 16px;
            padding-bottom: 40px;
            margin-right: 5rem;

                @media (max-width: 1200px)
                {
                text-align: center;
                }
            }
        }

        .image-man
        {
            width: 100%;
        }

        img{
            display: none;

            @media (min-width: 1200px)
            {
                display: block;
            }
        }
    }
}

//2. Second section / "Company logotypes"
.section2-company-logotypes
{
    padding-top: 3rem;
    padding-bottom: 5rem;
    .container
    {
        display: flex;
        flex-direction: row;

        @media (max-width: 1200px)
        {
            flex-direction: column;
            padding: 30px;
        }


        .logo
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 3.5rem;
            padding-left: 3.5rem;
            padding-top: 5rem;
            padding-bottom: 2rem;
            width: 60%;
            height: auto;
        }
    }
}

//3. Third section / "Features"
.section3-features
{
display: flex;
justify-content: center;
padding-bottom: 2rem;


.wrapper-grid
{
    display: flex;
    border: solid 2px rgba(22, 22, 22, 0.171);

    @media (max-width: 1300px)
    {
        display: block;
        text-align: center;
        align-items: center;
    }

    .headings
    {
        width: 28rem;
        margin-top: 3rem;
        margin-left: 5rem;


        @media (max-width: 1200px)
        {
            margin: 0;
            width: 300px;
            text-align: center; 
        }
     
        .btn-yellow
        {
            width:28rem;
            margin-left: -1rem;

            @media (max-width: 1300px)
            {
                width: 20rem;
                margin-left: -0.5rem;
            }
        }
    }
}

.advices
{  
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;

        @media (max-width: 1300px)
        {
            grid-template-columns: 1fr;
        }

        article
        {
            width: 22rem;
            padding-left: 4rem;
            padding-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            @media (max-width: 1300px)
            {
                padding: 0rem;
                width: 15rem;
            }

                .addition-height
                {
                height: 8px;
                width: 2px;
                background-color:#a8a8a8a1;
                position: relative;
                right: -6.6%;
                top: 0.3rem;
                }

                .addition-width
                {
                height: 2px;
                width: 8px;
                background-color:#a8a8a8a1;
                position: relative;
                right: -5.5%;
                }

            .addition-1
            {
                position:relative;
                right: -0%;
                top: 1rem;
                
                @media (max-width: 1300px)
                {
                    position:relative;
                    right: -43%;
                    top: 1rem;
                }
            }

            .addition-2
            {
                position:relative;
                right: -12%;
                top: 1.8rem;
                @media (max-width: 1300px)
                {
                    position:relative;
                    right: -52%;
                    top: 0.7rem;
                }
                
            }

            .addition-3
            {
                position:relative;
                right: -9%;
                top: 0.2rem; 
                @media (max-width: 1300px)
                {
                    position:relative;
                    right: -56%;
                    top: 1rem;
                } 
            }

            .icon
            {
                margin-bottom: 2rem;
            }
        }
    }
}

//4. Forth section/ "About comapny"
.section4-about-company
{
    padding-top: 8rem;
    padding-bottom: 8rem;

    .container
    {
    display: flex;
    flex-direction: row;
    gap: 12em;
 
    @media (max-width: 1400px)
    {
        flex-direction: column;
        gap: 12em;

        img
        {
            width:60%;
            height: auto;
        }
    }

    @media (max-width: 800px)
    {
        flex-direction: column;
        gap: 12em;

        img
        {
            width:80%;
            height: auto;
        }
    }
    

    }

  .blue-text-container
    {
    position: relative;
    display: flex;


        @media (max-width: 1600px)
            {
        display: flex;
        justify-content: center;
        left: 0rem;
        top: 0rem;
            }


    .text-container-blue 
    {
        position: absolute;
        color: rgb(0, 0, 0);
        left: -3.5rem;
        top: 24.6rem;
        background-color: #BEEBFF;
        width: 23rem;
        height: 11.3rem;
        padding: 2rem;
        
        

        @media (max-width: 1600px)
        {
            position: absolute;
            left: 0rem;
            width:auto;
            top: 60%;
        }

        @media (max-width: 800px)
        {
        display: flex;
        flex-direction: column;
        }

        .Samantha
        {
            display: flex;
            align-items: baseline;
            padding-top: 0.2rem;

            .h3
            {
            font-weight: bold;
            font-size: 1.2rem;
            padding-bottom: 1rem;
            }

            .h5
            {
            color: #F94D1C; 
            font-weight: bold;
            padding-left: 0.5rem;
            font-size: 1rem;  
            }

        }
        .p1
        {
        text-align: left;
        color: rgb(0, 0, 0);
        font-weight: lighter;
        font-size: 0.96rem;
        line-height: 1.8rem;
        }
    }

    .content2
    {
    width: 30rem;
    line-height: 1.8rem;
    font-weight: 100;
    font-size: 1rem;
    border: solid 2px green;
    

        .playicon
        {
        height: 3.2rem;
        margin-right: 0.6rem;
        

        &:hover
            {
            background-color: #DAD9D3;
            border-radius: 50%;
            }

            &:active
            {
            background-color: #868686;
            }
        }

        @media (max-width: 800px)
        {
            display: flex;
            justify-content: center;
        }

        }
    }
}


//5. Fifth section / "Our Services"
.section5-our-services
{
    background-color: #F0EFE9;
    padding: 8rem;
    padding-right: 18rem;
    padding-left: 18rem;
    display: block;

    @media (max-width: 1800px)
    {
        padding: 8rem;
        padding-right: 2rem;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container
    {
        margin: 0;
        padding: 0;
        text-align: left;
        width: 30rem;
        display: block;
        border: solid 2px red;

        @media (max-width: 998px)
        {
            display: flex;
            flex-direction: column;
        }
        @media (max-width: 768px)
        {
            width: 20rem;
        }
    }

    .grid-container
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 3.4rem;
    padding-top: 1.2rem;
    border: solid 2px yellow;
    align-items: center;

    @media (max-width: 1810px)
    {
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
    }

    @media (max-width: 768px)
    {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }
                     
        .grid-items
        {
                
                color:#191919;
                background-color: #FFFFFF;
                width: 19.2rem;
                height: 20.5rem;   
                padding:1.5rem;
                border: solid 2px black;

            .line
            {
                    border-color: #191919;
                    color: #191919;
                    border-width: 0.2rem;
                    width: 25%;
                    margin-right: auto;
                    border-radius: 2rem;
                    margin-bottom: 3rem;

            }

                &.yellow
                {
                    background-color: #F9D783;
                }

                .circlearrow
                {
                    display: flex;
                    align-items: end;
                    justify-content: end;
                }

                .btn-round-white
                {
                    border-radius: 50%;
                    height: 3.5rem;
                    width: 3.5rem;      
                    background-color: white;
                    border: none;

                    &:hover
                    {
                        background-color: #868686;
                        color: #191919;
                    }

                    &:active
                    {
                        background-color: #DAD9D3;
                    }
                }

                
                .btn-round-black
                {
                    border-radius: 50%;
                    height: 3.5rem;
                    width: 3.5rem;      
                    background-color: black;
                    border: none;

                    &:hover
                    {
                        background-color: #868686;
                        color: #191919;
                    }

                    &:active
                    {
                        background-color: #DAD9D3;
                    }
                }

            }
    }
    
    .end
    {
    display:flex;
    justify-content: center;
    border: solid 2px black;
    }

    .arrow-in-circle
    {
        width: 26 ;
        height: 26;
    }
}

//6. Sixth section / "Why Choose Us"
.section6-why-us
{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
    padding-left: 18rem;

    @media (max-width: 1800px)
    {
        flex-direction: column;
        padding: 0;

        h4 {
            text-align: center;
        }
        h1 {
            text-align: center;
        }
    }

    .container
    {
        width: 39rem;
        border: solid 2px black;

        @media (max-width:768px)
        {
            width: 20.5rem;
        }
    }

    .content
    {
        display:flex;
        justify-content: center;
        align-items: center;

        .svg{
            padding-bottom: 2rem;
        }
    }

    .text{
        padding-left: 1.6rem;

        .height
        {
            line-height: 0.3rem;
        }

    }

    .rectangel
    {
        position: relative;
        top: 8rem;
        background-color:#F0EFE9;
        width: 60rem;
        height: 26rem;

        @media (max-width: 1800px)
        {
            display: none;
        }        
    }

    .image{
        position: absolute;
        top: -12rem;
        left: 7rem;
    }


}

// 7. SEVENTH SECTION / "News & articles"
.project-and-case
{
    padding-top: 20px;
    padding-bottom: 20px;

    .container{

        .section-title
        {
            text-align: center;
        }
        
        .project-and-cases
        {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) 
            {grid-template-columns: 1fr 1fr;}

            article
            {
                img
                {
                    width: 100%;
                    height: auto;
                    padding-bottom: 30px;
                    padding-top: 20px;
                }

                h3{
                    border-bottom: 2px solid rgba(0, 0, 0, 0.201);
                    padding-bottom: 10px;
                }

                a
                {
                    margin-right: 10px;
                    text-decoration: none;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color:#191919;
                    padding-top: 15px;

                    .arrow
                    {
                        padding: 0rem;
                        margin-left: 0.5rem;
                    }

                    &:hover{
                        color:#868686;
                        
                    }
        
                    &:active
                    {
                        color: #DAD9D3;
                    }
                }
            }
        }
    }

    .btn-position
    {
        display: flex;
        justify-content: center;
        padding: 4rem;
    }
}

//8. Eight section / "Meet Our Team"
.section8-our-team
{
    background-color: #F9D783;
    padding-left: 18rem;
    padding-right: 18rem;
    padding-top: 8rem;
    padding-bottom: 1.8rem;

    @media (max-width: 998px)
    {
        padding: 0;
    }

    .header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85rem;

        
    @media (max-width: 998px)
    {
        display: block;
        text-align: center;
        padding: 1rem;
    }
    
    }

    .yellow
    {
        border: solid 2px black;
        background-color: #F9D783;
    
        .arrow
        {
            padding: 0.02rem;
        }
    }

    .container
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0rem; 
        justify-items:left;
        gap: 2.3rem;

        
    @media (max-width: 998px)
    {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    @media (max-width: 768px)
    {
        grid-template-columns: 1fr;
        text-align: center;

    }
    

        .text-container
        {
            padding-top: 1.8rem;
        
           p {
            margin-top: -0.6rem;
           }
        }
    }

    .page-end
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4rem;
        padding-top: 2.4rem;
    
    }


}

//9. Ninth section / "Testimonial"
.section9-testimonial
{
    background-color: #F9D783;
    padding-left: 16rem;
    padding-right: 16rem;
    padding-bottom: 8rem; 


    @media (max-width: 998px)
    {
        display: block;
        padding: 1rem; 
    }

    @media (max-width: 768px)
    {
        display: block;
        padding: 1rem;
        text-align: center; 
    }

    .white-background
    {
        background-color: #FFFFFF;
        text-align: center;
        padding-top: 6rem;

        @media (max-width: 768px)
        {
            padding: 1rem;
        }


        .clients
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding:2rem;
            text-align: left;            
            row-gap: 2rem;
            column-gap: 3rem;


            @media (max-width: 998px)
            {
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-items: center;
                padding-bottom: 1rem;
            }

            @media (max-width: 768px)
            {
                grid-template-columns: 1fr;
                padding: 0rem;
                text-align: left;            
                row-gap: 2rem;
                column-gap: 3rem;
                margin-left: -0.25rem;
            }
        }
    }

    .container
    {
        width: 20rem;
        border-radius: 1rem;
        
        @media (max-width: 768px)
        {
            width: 20rem;
            padding-top: 1rem;
            padding-bottom: 1rem; 
            border: solid 2px rgba(72, 72, 72, 0.309);
        }

        p
        {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        h4
        {
            text-align: left;
        }

        .foto-name-title
        {
            display: flex;

            .name-title
            {
                display: block;
                align-items: center;
                justify-content: center;
                margin-top: 0.5rem;
                margin-left:1rem;

                .orange-headlines
                {
                    display: block;
                    margin-top: -0.1rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
    .end-of-section
    {
        display: flex;
        justify-content: center; 
        padding: 4rem;   
    }
}

//10. Tenth section / "Article & News"
.section10-article
{
    padding-left: 18rem;
    padding-right: 18rem;
    padding-top: 12rem;
    padding-bottom: 6rem;

    @media (max-width: 998px)
    {
        padding: 1rem;
        padding-top: 4rem;
        display: grid;
        align-items: center;
        justify-items: center;;
    }

   .header
   {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 81.1rem;
    margin-left: 0.8rem;

    button
    {
        margin-bottom: 1rem;
        
        @media (max-width: 998px)
        {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 2rem;
            width: 16rem;
        }
    }

    @media (max-width: 998px)
    {
        display: block;
        text-align: center;
        width: 25rem;
    }

    @media (max-width: 768px)
    {
        width: 17rem;
    }

}

   .container
   {
    display: flex;
    justify-content: space-evenly;
    gap: 3.1rem;

    @media (max-width: 768px)
    {
        flex-direction: column;
        align-items: center;
    }
   }

   .articels
   {
     width:25rem;
     padding-top: 2rem;

     @media (max-width: 768px)
     {
         padding: 1rem;
         width: 20rem;
         border: solid 2px rgba(0, 0, 0, 0.149);
         border-radius: 1rem;;
     }

        .image-container
        {
            position: relative;
            text-align: center;
            padding-bottom: 1rem;
        }

        .image
        {
            width: 100%;
            height: auto;
            
        }

        .date
        {
            position:absolute;
            display: block;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding:1rem;
            top: 7%;
            left:4%;
            width: 3.4rem;
            height: 4rem;
            background-color: #F9D783;

            .number
            {
                margin-top: -0.1rem;
            }

            .month
            {
                margin-top: -1.45rem;
                margin-left: -0.08rem;
            }
        }

    }

    .page-end
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }

}

// 11. ELEVENTH SECTION / "Get news updates by signup"
.section11-get-news
{
    display: flex;
    justify-content: center;
    padding: 3rem;
    padding-bottom: 3rem;
    padding-top: 4rem;
    background-color: #F0EFE9;

    .content 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10rem;
    

        @media (max-width: 768px)
        {
            flex-direction: column;
            gap: 0rem;
            width: 20rem;
        }

        
        .buttons
        {
            display: flex;
            margin-left: 6rem;

            @media (max-width: 1800px)
            {
                padding-left: 6rem;
            }

            @media (max-width: 998px)
            {
                padding: 0rem;
                display: grid;
                justify-items: center;
                padding-top: 3.5em;
                padding-bottom: 1rem;
            }

            @media (max-width: 768px)
            {
                padding-left: 0rem;
                margin-left: 0rem;
            }

        }

        .input
        {
            
            border-radius: 2rem;
            border: none;
            padding-left: 1rem;
            padding: 0.9rem;
            

            @media (max-width: 998px)
            {
                padding: 1rem;
                margin-bottom: 1.2rem;
            }

            &:active
            {
                border: none;
            }
        }
        .email
        {

            margin-left: 1rem;

            @media (max-width: 768px)
            {
                display: grid;
                align-items: center;
                justify-items: center;
            }


        }
    }

    .grey-element
    {
        position: relative;
        left: 17.5%;
        top: 30%;

        @media(max-width: 1800px)
        {
            display: none;
        }
    }
}

// FOOTER
.footer
{
    background-color: #000000;

    .grey-element
    {
        position:relative;
        left: 84%;
        top: 19rem;

        @media (max-width: 1900px)
        {
            display: none;
        }
    }

    p {
        color: #FFFFFF;
        padding-top: 2rem;
    }

    h3{
        color:#FFFFFF;
        padding-bottom: 1rem;
    }

    a
    {
        text-decoration: none;
        font-weight: 100;
        color:#FFFFFF;
        line-height: 3rem;

        &:hover
        {
            border-bottom: solid 2px white;
        }

        &:active
        {
            color: #DAD9D3;
            border-color: #DAD9D3;
        }
    }

    .border
    {
        color: #DAD9D3;
        margin-bottom: -0.5rem;
    }


    .container-parent
    {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        border-radius: 1rem;
        padding-left: 18rem;
        padding-right:18rem;

        @media (max-width: 768px)
        {
            padding: 0rem;
            padding-top: 2rem;
            display: block;
            text-align: center;
            margin: 2rem;
        }

        @media (max-width: 998px)
        {
            padding: 0rem;
            padding-top: 2rem;
            text-align: center;
            margin: 2rem;
        }

        .logo
        {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            border-radius: 1rem;

            @media (max-width: 998px)
            {
                grid-column: 4 / 3;
                grid-row: 1 / 5;
            }
        }
        .section-company
        {
            grid-column: 2 / 2;
            padding-top: 1rem;

            @media (max-width: 768px)
            {
                border: solid 2px rgba(255, 66, 14, 0.494);
                border-radius: 1rem;
                margin-bottom: 1rem;
            }
            @media (max-width: 998px)
            {
                grid-column: 1 / 4;
                grid-row: 5 / 6;
            }
        }

        .section-help
        {
            grid-column: 3 / 3;
            padding-top: 1rem;

            @media (max-width: 768px)
            {
                border: solid 2px rgba(247, 244, 69, 0.463);
                border-radius: 1rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
            }
            @media (max-width: 998px)
            {
                grid-column:6 / 3;
                grid-row: 5 / 6;
            }
        }

        .section-resorces
        {
            grid-column: 4 / 4;

            padding-top: 1rem;
            @media (max-width: 768px)
            {
                border: solid 2px rgba(54, 158, 255, 0.467);
                border-radius: 1rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
            }
            @media (max-width: 998px)
            {
                grid-column: 6 / 3;
                grid-row: 6 / 7;
            }
        }

        .section-link
        {
            grid-column: 5 / 5;
            padding-top: 1rem;

            @media (max-width: 768px)
            {
                border: solid 2px rgba(255, 118, 54, 0.534);
                border-radius: 1rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
            }
            
            @media (max-width: 998px)
            {
                grid-column: 1 / 4;
                grid-row: 6 / 7;
            }
        }

        .p-company
        {
            width: 19rem;
        }
    }

    
}



    .page-end
    {
        padding-left: 18.5rem;
        padding-right: 18.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 998px)
        {
            flex-direction: column;
            text-align: center;
            padding: 0rem;

            .copy-right{
                order: 2;
            }

            .social-media{
                order: 1;
            }

        }

        .social-media
        {
            display: flex;
            justify-content: right;
            gap: 1.8rem;

            @media (max-width: 768px)
            {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                text-align: center;
                padding: 0rem;
                margin-top: 2rem;
                margin-bottom: -1rem;
            }

            a 
            {
                &:active
                {
                background-color: #868686;
                }
            }
        }
}
